@{ 
    ViewBag.Title = "Register";
}

@*<div class="row">
    <div class="cl-sm-12">
        <h1>  Registration</h1>  
        <form class="needs-validation" novalidate="novalidate" action="/account/register" method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtName" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Enter User Name" name="Name" required="required" pattern="^[a-zA-Z ]*$" autofocus="autofocus" />
                    <div class="valid-feedback"> Looks Good !</div>
                    <div class="invalid-feedback">   Please enter name [alphabets only].</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email" name="Email" required="required" />
                    <div class="valid-feedback"> Looks Good !</div>
                    <div class="invalid-feedback"> Please enter Email</div>
                    <small class="email-exist text-danger"></small>
                </div>


                <div class="form-group col-sm-6">
                    <label for="txtMobile" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile No" name="Mobile" required="required" />
                       <div class="valid-feedback"> Looks Good !</div>
                    <div class="invalid-feedback"> Invalid Mobile Number</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter Password" name="Password" required="required" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                   <div class="valid-feedback"> Looks Good !</div>
                   <div class="invalid-feedback">  Password must contain at least 6 characters.</div>
                </div>


                <div class="form-group col-sm-6">
                    <label for="txtPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter Valide Confirm Password" name="ConfirmPassword" required="required" />
                    <div class="valid-feedback"> Looks Good !</div>
                    <div class="invalid-feedback">  Password and Confirm Password do not match.</div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
               
        </form>
    </div>             
</div >*@
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div> 
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="needs-validation" novalidate="novalidate" action="/account/register" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="txtName" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Enter User Name" name="Name" required="required" pattern="^[a-zA-Z ]*$" autofocus="autofocus" />
                            <div class="valid-feedback"> Looks Good !</div>
                            <div class="invalid-feedback">   Please enter name [alphabets only].</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="txtEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email" name="Email" required="required" />
                            <div class="valid-feedback"> Looks Good !</div>
                            <div class="invalid-feedback"> Please enter Email</div>
                            <small class="email-exist text-danger"></small>
                        </div>


                        <div class="form-group col-sm-6">
                            <label for="txtMobile" class="form-label">Mobile</label>
                            <input type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile No" name="Mobile" required="required" />
                            <div class="valid-feedback"> Looks Good !</div>
                            <div class="invalid-feedback"> Invalid Mobile Number</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="txtPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Enter Password" name="Password" required="required" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                            <div class="valid-feedback"> Looks Good !</div>
                            <div class="invalid-feedback">  Password must contain at least 6 characters.</div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label for="txtPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter Valide Confirm Password" name="ConfirmPassword" required="required" />
                            <div class="valid-feedback"> Looks Good !</div>
                            <div class="invalid-feedback">  Password and Confirm Password do not match.</div>
                        </div>
                    </div>
                    @*<div class="col-12">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>*@
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                        </div>

                </form>
            </div>

            </div>
        </div>
</section>

    <script>
        $(document).on("submit", ".needs-validation", validate);

        $(".needs-validation input").blur(validate);

        function validate(event) {

            if ($(".needs-validation")[0].checkValidity() == false || $(".email-exist").text() != "") {

                event.preventDefault();

            }

            $(".needs-validation")[0].classList.add("was-validated");

        }
        function escapeRegExp(str) {

            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");

        }

        $("a[href = '/account/register']").attr("id", "active");


        $(document).ready(function () {
            $("#txtEmail").blur(

                function () {
                    $.ajax({
                        url: "/api/account?email=" + $("#txtEmail").val(), type: "GET",
                        success: function (d) {
                            console.log('Response' + d);
                            if (d == "NotFound") {
                              
                                $(".email-exist").text('');
                                $(".email-exist").parent(".form-group").find(".valid-feedback").css("color", "#28a745");
                            }
                            else {
                                
                                $(".email-exist").text("Email already registerd");
                                $(".email-exist").parent(".form-group").find(".valid-feedback").css("color", "white");
                            }
                        },
                        error: function () {

                        }
                    });
                });
        });


    </script>
