
@{
    ViewBag.Title = "Contact Us!- Support & Feedback";
}
<div class="col-sm-12" style="--bs-gutter-x:6.5rem !important">
    <div class="row">
        <div class="col-sm-12" style="--bs-gutter-x:6.5rem">

            <div class="jumbotron">
                <h2>Our products & services </h2>
                      </div>
        </div>
    </div>

       <div class="row">
        <div class="col-sm-6" style="--bs-gutter-x:6.5rem !important">
            <div class="card">
                <div class="card-header bg-black text-light">Teams</div>
                <div class="card-body bg-light">
                    A private, secure home for your team’s questions and answers. Perfect for teams of 10-500 members. No more digging through stale wikis and lost emails—give your team back the time it needs to build better products.
                    <br /><a href="#"> Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="--bs-gutter-x:6.5rem !important">
            <div class="card">
                <div class="card-header bg-black text-light">Talent</div>
                <div class="card-body bg-light">
                    Employer branding solutions for technology teams. Reach the world’s largest collection of tech talent.

                    <br />    <a href="#"> Request a demo</a>
                    <br />  US+1 (212)232-8294 9am–5pm U.S. Eastern Time  <br />

                    UK+44 800 048 89899am–5pm GMT/BST
                </div>
            </div>
        </div>
    </div>

</div>
<script>
            $("a[href = '/home/contact']").attr("id", "active");
</script>